html {
    width: 800px;
    height: 600px;
}

body {
    font-family: "fira-sans-2", Verdana, sans-serif;
    font-size: 100%;

}

#container {
    display: block;
    /*width: 600px;*/
}

h1 {
    font-size: 24px;
}

p {
    font-size: 12px;
}
